a{
    text-decoration: none;
}
footer{
    background-color: gray;
}
.carouselBase{
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.carousel{
    display: inline-block;
    float: left;
    width: 500%;
}
.carousel img{
    width: 1200px;
}
.row  img{
    width: 100%;
}
.product{
    display: grid;
    grid-auto-flow: row;
    grid-template:auto 1fr minmax(40px, auto) / 1fr;
}